In [14]:
import pandas as pd
import numpy as np

In [30]:
#1- Cargue los tres datasets usando pandas

abbrevs_df = pd.read_csv("C:/Users/bebit/Desktop/tareas/csv/state-abbrevs.csv")
area_df = pd.read_csv("C:/Users/bebit/Desktop/tareas/csv/state-areas.csv")
pop_df = pd.read_csv("C:/Users/bebit/Desktop/tareas/csv/state-population.csv")

In [44]:
#2- Revise los datos cargados y realice las modificaciones necesarias para empezar a trabajar

pop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2524 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       2524 non-null   object
 1   ages        2524 non-null   object
 2   year        2524 non-null   int64
 3   population  2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 98.6+ KB

In [45]:
# renombre columna 'state/region' a 'state'

pop_df.rename(columns={'state/region': 'state'}, inplace=True)

# Eliminar los registros con valores nulos en la columna 'population'
pop_df.dropna(subset=['population'], inplace=True)

In [39]:
area_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   area (sq. mi)  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 960.0+ bytes

In [46]:
# Renombrar la columna 'area (sq. mi)' a 'area'
area_df.rename(columns={'area (sq. mi)': 'area'}, inplace=True)

In [40]:
abbrevs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         51 non-null     object
 1   abbreviation  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes

In [48]:
#3- Elimine las columnas que no aportan información

pop_df.drop('year', axis=1, inplace=True)

In [ ]:
# DataFrame area_df, no se identifican columnas que no aporten información, ya que ambas columnas (state y area (sq. mi))

In [ ]:
#DataFrame abbrevs_df, no se identifican columnas que no aporten información, ya que ambas columnas (state y abbreviation)

In [50]:
#4-Agrupe por state/region y ages, para luego agregar usando promedio, mínimo, máximo y contar

#cree un nuevo DataFrame que agrupa los datos state y ages agregando los valores de population

pop_df.groupby(['state', 'ages']).agg({'population': ['mean', 'min', 'max', 'count']})

                 population
                       mean        min        max count
state ages
AK    total    6.462048e+05   553290.0   735132.0    24
      under18  1.866730e+05   177502.0   192636.0    24
AL    total    4.484528e+06  4050055.0  4833722.0    24
      under18  1.111197e+06  1050041.0  1134927.0    24
AR    total    2.693178e+06  2356586.0  2959373.0    24
...                     ...        ...        ...   ...
WI    under18  1.344394e+06  1302869.0  1370440.0    24
WV    total    1.823426e+06  1792548.0  1856680.0    24
      under18  4.049168e+05   381678.0   436797.0    24
WY    total    5.103280e+05   453690.0   582658.0    24
      under18  1.322450e+05   123974.0   137733.0    24

[106 rows x 4 columns]

In [52]:
#5- Forme un nuevo dataset llamado df que tenga la información de los 3 sets importados. Use las llaves necesarias.


# Union de pop_df con abbrevs_df
df = pop_df.merge(abbrevs_df, on='state')

# Union de el resultado con area_df
df = df.merge(area_df, on='state')

In [54]:
#6- Calcule la población por área para cada estado. Para esto agrupe por state/region y calcule el promedio de la población. Guarde dicha
#información en un data frame con las columnas 'state' y 'pop/area' (hint: puede extraer los valores de un objeto groupby, finalizando su
#sentencia con .values, o extraer sus etiquetas con .index)

#se agrupa DataFrame df por state y se calcula el promedio de la columna population y la columna area para dividir el promedio de la población 
#por el promedio del área para obtener la población por área para cada estado.


# Calculo promedio de la población por state/region
pop_avg = df.groupby('state')['population'].mean()

# Calculo el promedio del área por state/region
area_avg = df.groupby('state')['area'].mean()

# Calculo la población por área para cada estado
pop_area = pop_avg / area_avg

# se crea nuevo DataFrame con las columnas 'state' y 'pop/area'
pop_area_df = pd.DataFrame({'state': pop_area.index, 'pop/area': pop_area.values})

In [55]:
#7- Finalmente, cree un dataframe que posea: El estado, el área, la población, la población por área y como índice la abreviación del
#nombre del estado.

# se genera 'abbreviation' como índice del DataFrame
df.set_index('abbreviation', inplace=True)

# Agrego la columna de la población por área 
df['pop/area'] = pop_area_df['pop/area']

# Selecciono las columnas que necesito para un nuevo DataFrame
new_df = df[['state', 'area', 'population', 'pop/area']].copy()

# Renombro columna 'state' a 'nombre'
new_df.rename(columns={'state': 'nombre'}, inplace=True)

In [56]:
#muestro como quedo el nuevo dataframe

print(new_df)

Empty DataFrame
Columns: [nombre, area, population, pop/area]
Index: []